{{#unless loading}}
  {{!-- Hummingbird Profile Stuff --}}
  <div class="user-cover">
    <img {{bindAttr src="hummingbird.coverImage"}} {{bindAttr class=":cover-photo hummingbird.loaded::cover-photo-loading"}}>
    <div class="cover-overlay"></div>
  </div>
  <div class="container relative">
    <div class="row">
      <div class="user-cover-options">
        <div class="col-md-10 user-wrapper">
          <div class="col-sm-2 col-md-2 user-avatar clearfix">
            <div class="large-avatar">
              {{boundAvatar model imageSize="huge"}}
              {{#if hummingbird.loaded}}
                <div class="online-box">
                  <div {{bindAttr class=":online-indicator hummingbird.online:online:offline"}}></div>
                </div>
              {{/if}}
            </div>
          </div>
          <div class="col-sm-12 col-md-10 account-info">
            <h1 class="username">{{username}}</h1>
            <ul class="inline-list clearfix">
              <li>
                <a href="javascript:void(0)" title="Coming soon!">
                  <i class="icon-exchange">&nbsp;</i>
                  Compare
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" title="Coming soon!">
                  <i class="icon-heart-empty">&nbsp;</i>
                  Suggest
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" title="Coming soon!">
                  <i class="icon-envelope-alt">&nbsp;</i>
                  Message
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-default btn-lg follow-button" type="button" title="Coming soon!">
          Follow
        </button>
      </div> <!-- .user-cover-options -->
    </div>
  </div>
  <div class="profile-navigation">
    <div class="container">
      <div class="row">
        <ul class="inline-list clearfix">
          <li class="nav-link">
            <a href="http://hummingbird.me/users/{{unbound username}}/feed">Activity Feed</a>
          </li>
          <li class="nav-link">
            <a href="http://hummingbird.me/users/{{unbound username}}/watchlist">Library</a>
          </li>
          <li class="nav-link active">
            {{#linkTo 'userActivity'}}Forums{{/linkTo}}
          </li>
          <li class="nav-link dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">More</a>
            <ul class="dropdown-menu profile-nav-drop">
              <li><a href="http://hummingbird.me/users/{{unbound username}}/favorite_anime">Favorite Anime</a></li>
              <li><a href="http://hummingbird.me/users/{{unbound username}}/followers">Followers</a></li>
              <li><a href="http://hummingbird.me/users/{{unbound username}}/following">Following</a></li>
              {{#if viewingSelf}}
                <li><a href="http://hummingbird.me/users/edit">Preferences</a></li>
              {{/if}}
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{!-- End Hummingbird Profile Stuff --}}

  <div class="user-heading">
    <div class="container">
      <div class="full-width" id='user-menu'>
        {{!-- <h1>{{name}}<span>{{username}}{{{statusIcon}}}</span></h1> --}}

        {{#if viewingSelf}}
          <button {{action "logout" target="Discourse"}} class='btn'>{{i18n user.log_out}}</button>
        {{/if}}
        {{#if currentUser.staff}}
          <a {{bindAttr href="adminPath"}} class='btn'><i class="icon-wrench"></i>&nbsp;{{i18n admin.user.show_admin_profile}}</a>
        {{/if}}
        <ul class="nav nav-pills">
          <li>
            {{#link-to 'userActivity'}}{{i18n user.activity_stream}}{{/link-to}}
          </li>
          {{#if canSeePrivateMessages}}
            <li>
              {{#link-to 'userPrivateMessages'}}{{i18n user.private_messages}}{{/link-to}}
            </li>
          {{/if}}
          <li>
            {{#link-to 'user.invited'}}{{i18n user.invited.title}}{{/link-to}}
          </li>
          {{#if can_edit}}
            <li>
              {{#link-to 'preferences'}}{{i18n user.preferences}}{{/link-to}}
            </li>
          {{/if}}
        </ul>
        <div class='avatar-wrapper'>
          {{!--boundAvatar model imageSize="huge"--}}
        </div>
      </div>
    </div>
  </div>
  {{!--
  <div class="container">
    <div class='user-info clearfix'>
      <div class='about-me'>
        {{{bio_excerpt}}}
      </div>
    </div>
  </div>
  --}}
  <div class="container">
    {{outlet userOutlet}}
  </div>
{{/unless}}
